body{
    background-color: dodgerblue;
}
header {
    background-color: cornflowerblue;
    text-align: center;
}

.container {
    width: 80%;
    text-align: center;
    background-color: aqua;

}
.banner {
    width: 100%;
}
footer{
    background-color: darkblue;
}